//FONTS
$default-font-size: 1.6rem;
$medium-font-size: 1.8rem;
$big-font-size: 2.2rem;


//COLORS
$color-red-primary:rgb(175, 10, 10);
$color-black-primary: rgb(17, 17, 17);

$color-grey: rgb(77, 77, 77);
$color-grey-billy:rgb(192, 191, 191);
$color-grey-medium:rgb(242, 242, 242);
$color-grey-light:rgb(247, 247, 247);
$color-black:black;


//GRID

$grid-width: 130rem;
$space-horizontal:15rem;
$space-horizontal-small:8rem;
$space-vertical:10rem;