@keyframes spiner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-30rem) scale(0.1);
    -webkit-transform: translateY(-30rem) scale(0.1);
  }
  80% {
    opacity: 0.5;
    transform: translateY(0rem) scale(1.3);
    -webkit-transform: translateY(0rem) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem) scale(1);
    -webkit-transform: translateY(0rem) scale(1);
  }
}

@-webkit-keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-30rem) scale(0.1);
    -webkit-transform: translateY(-30rem) scale(0.1);
  }
  80% {
    opacity: 0.5;
    transform: translateY(0rem) scale(1.3);
    -webkit-transform: translateY(0rem) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: translateY(0rem) scale(1);
    -webkit-transform: translateY(0rem) scale(1);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30rem) scale(0.1);
    -webkit-transform: translateY(30rem) scale(0.1);
  }
  80% {
    opacity: 0.5;
    transform: translateY(0rem) scale(1.3);
    -webkit-transform: translateY(0rem) scale(1.3);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem) scale(1);
    -webkit-transform: translateY(0rem) scale(1);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30rem) scale(0.1);
    -webkit-transform: translateY(30rem) scale(0.1);
  }
  80% {
    opacity: 0.5;
    transform: translateY(0rem) scale(1.3);
    -webkit-transform: translateY(0rem) scale(1.3);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem) scale(1);
    -webkit-transform: translateY(0rem) scale(1);
  }
}

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
    opacity: 1;
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 0;
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
    opacity: 1;
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
