.section-aboutBreed {
  background-color: $color-grey-medium;
  padding: 10rem 5rem;
  margin-top: -10rem;
}

.section-billy {
  position: relative;
  background-color: $color-black-primary;
  clip-path: polygon(0% 7%, 100% 0%, 100% 94%, 0% 100%);
  padding: 10rem 5rem;
  margin-top: -15rem;
  z-index: 10;

  @include respond(tab-port) {
    clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0% 100%);
  }

  @include respond(phone) {
    clip-path: polygon(0% 2%, 100% 0%, 100% 98%, 0% 100%);
    padding: 5rem 5rem;
  }

  &__photo {
    width: 90%;
  }
}

.section-gallery {
  background-color: $color-grey-medium;
  position: relative;
  padding: 13rem 0 25rem 0;
  margin-top: -15rem;
}

.section-video {
  background-color: $color-grey-medium;
  position: relative;
  padding: 3rem 0;
  margin-top: -15rem;

  @include respond(phone) {
    padding: 0 5rem;
  }
}
